/**
 * About.css
 *
 * @format
 */

.About {
	background-color: #adaeaf27; /* Light gray background color */
	padding: 50px 20px; /* Adjust padding for smaller screens */
}

.About-Div {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}

.About-me {
	font-size: 2rem;
	color: #a19e9e; /* Dark text color */
	margin-bottom: 20px;
	display: block;
	border-bottom: 2px solid #87c8ff; /* Blue border under the heading */
	padding-bottom: 10px;
}

.About-Paragraph {
	font-size: 1.2rem;
	line-height: 1.6;
	color: #a19e9e; /* Medium gray text color */
}

.About-Portrait {
	border-radius: 50%; /* Make the image circular */
	max-width: 100%; /* Ensure the image takes up the full width on smaller screens */
	height: auto;
	margin: 20px 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.its-me {
	color: #a19e9e;
}

/* Add a media query for smaller screens (e.g., mobile devices) */
@media only screen and (max-width: 600px) {
	.About {
		padding: 30px 20px; /* Adjust padding for smaller screens */
	}

	.About-Portrait {
		max-width: 80%; /* Adjust image width for smaller screens */
	}
}
