/**
 * Navbar Container
 *
 * @format
 */
.Navbar-bigbox {
	padding-bottom: 5rem;
}
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #151019;
	color: #fff;
	padding: 10px 20px;
	z-index: 100; /* Set a higher z-index for the navbar */
}

/* Logo Link */
.logo {
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
}

/* Navigation Links */
.nav-links {
	list-style: none;
	display: flex;
	gap: 20px;
	align-items: center;
}

.nav-links li {
	text-decoration: none;
}

.nav-links a {
	text-decoration: none;
	color: #fff;
	font-size: 18px;
}

.nav-links a:hover {
	text-decoration: underline;
}

/* Add position: relative; to the content elements */
.content {
	position: relative;
	/* No need for margin-top */
}
