/** @format */

.skills-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.logo-container {
	flex: 0 0 calc(20% - 20px); /* Adjust the width as needed */
	margin: 10px;
	overflow: hidden;
	text-align: center;
}

.logo-container:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.logo-image {
	width: 100%; /* Set the width to 100% to make the image responsive */
	height: auto; /* Maintain the aspect ratio */
	max-width: 100px; /* Limit the maximum width of the image */
	max-height: 100px; /* Limit the maximum height of the image */
	object-fit: cover;
	filter: grayscale(100%);
	transition: filter 0.3s ease-in-out;
}

.logo-container:hover .logo-image {
	filter: grayscale(0%);
}

.skills-container h1 {
	text-align: center;
	width: 100%;
}

.skills {
	font-size: 2rem;
	color: #a19e9e;
	margin-bottom: 20px;
	display: inline-block;
	border-bottom: 2px solid #87c8ff;
	padding-bottom: 10px;
	text-align: center;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
	/* Adjust styles for smaller screens here */
	.logo-container {
		flex: 0 0 50%; /* Adjust the width of the logo container for smaller screens */
	}

	.skills {
		font-size: 1.5rem;
	}
}
