/** @format */
.Welcome-Section {
}

.Welcome-content {
	display: grid;
	justify-content: center;
}
.welcome-container {
	background-image: url("../images/cool-background.png"); /* Specify the path to your background image */
	background-size: cover; /* Cover the entire container with the background image */
	background-repeat: no-repeat; /* Prevent background image from repeating */
	background-position: center; /* Center the background image */
	height: 100vh; /* Set the height to 100% of the viewport height */
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff; /* Text color on top of the background */
	width: auto;
}
.Welcome-Logos {
	display: flex;
	align-items: center;
	gap: 16px;
}
.Welcome {
	display: inline-flex;
	flex-direction: column;
	font-size: clamp(
		1.5rem,
		0.285rem + 10.16vw,
		3rem
	); /* Adjusted font size for Welcome */
	word-spacing: 1px;
	background: linear-gradient(to right, black, white);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: colorShift 5s linear infinite;
}

.Welcome-content h1 {
	font-size: 3rem; /* Adjust the font size as needed */
	color: #7e7a7a; /* Set the text color to a dark shade */
	margin-bottom: 10px; /* Add some space below the heading */
}

.Description {
	display: inline-flex;
	flex-direction: column;
	font-size: clamp(2.19rem, 0.285rem + 10.16vw, 5rem);
	word-spacing: 1px;
	background: linear-gradient(to right, black, white);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: colorShift 5s linear infinite;
	margin-top: 20px; /* Adjusted margin-top for spacing between h1 and h2 */
}

@keyframes colorShift {
	0% {
		background-position: 0%;
	}
	50% {
		background-position: 50%;
	}
	100% {
		background-position: 100%;
	}
}

.Welcome-Logos img {
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	transition: filter 0.3s ease 0s;
}

.Welcome-Logos img:hover {
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.social-logos {
	width: 40px;
}

.Welcome-bigbox {
	padding-bottom: 5rem;
}

.Intro-Firstname {
	color: white;
}

p {
	color: whitesmoke;
}
